{% extends 'base.html' %}
{% load static %}

{% block body %}
<script src="{% static 'accounts/js/author/inbox.js' %}"></script>
<script src="{% static 'accounts/js/author/profile.js' %}"></script>
<html>
    <h1>Inbox</h1>
    {% csrf_token %}
    <body onload="getInbox('{{uid}}','{{author_id}}', '{{template}}' , '{{author}}')">
        <p>Current inbox: '{{template}}'</p>
        <p>---</p>
        {% if template %}
            <ul id="template_">
            <script>
                var template=[];
            </script>
            {% for each_post in template %}
                {% if each_post %}
                {% else %}
                    <p>Empty Inbox</p>
                {% endif %}
            {% endfor %} 
            </ul>
            
        {% else %}
            <p>Empty Inbox</p>
        {% endif %}
        
        {% for each_post in template%}
        <p>'{{each_post}}'</p>
        <script>
            console.log("---", template)


        </script>
        {% endfor %}



    <input type="button" id="eBtn" value="delete" onclick="delete_all('{{template.items}}')">
    </body>
</html>


{% endblock %}