{% load static %}

<script src="{% static 'accounts/js/author/inbox.js' %}"></script>
<html>
    <head>
        <link rel="stylesheet"  href="{%  static  'accounts/post.css'  %}">  
    </head>
    <div class="nav" style="background-color: yellowgreen; padding-top: 10px;padding-bottom: 10px;">
        <a href="/home"><span style="padding-left: 15%">Home</span></a>
        <span style="padding-left: 15%; color: white;">Inbox</span>
        <a href="/create"><span style="padding-left: 15%;">Create</span></a>
        <a href="/profile"><span style="padding-left: 15%;">Profile</span></a>
    </div>
    <body onload="getInbox('{{uid}}')">
        <h1 class="title">PROJECT SOCIAL DISTRIBUTION</h1>
        <div style="margin-top: 20%">
        <ul id="inboxList"></ul>
        </div>