{% load static %}

{% block body %}
<script src="{% static 'accounts/js/author/post.js' %}"></script>
<html>
    <head>
        <link rel="stylesheet"  href="{%  static  'accounts/post.css'  %}">  
    </head>
    <div class="nav" style="background-color: yellowgreen; padding-top: 10px;padding-bottom: 10px;">
        <a href="/home"><span style="padding-left: 15%">Home</span></a>
        <span style="padding-left: 15%; color: white;">Inbox</span>
        <a href="/create"><span style="padding-left: 15%;">Create</span></a>
        <a href="/profile"><span style="padding-left: 15%;">Profile</span></a>
    </div>
    <body onload="getPost('{{url}}', '{{uid}}', '{{author}}')">
        <h1 class="title">PROJECT SOCIAL DISTRIBUTION</h1>
        <form method="post">
            {% csrf_token %}
    <div class="data"><p>Title - <input type="text" id="newTitle" style="display: none;"><span id="title"></span></p> 
        <p>Description - <input type="text" id="newDesc" style="display: none;"><span id="desc"></span></p> 
        <p>Visibility - <span id="vis"></span></p>
        <span id="newVis" style="display: none;">
        <select name="valVisName" id="valVis">
        <option value="PUBLIC">PUBLIC</option>
        <option value="PRIVATE">PRIVATE</option>
        </select>
        </span>
        <p>Source - <input type="text" id="newSource" style="display: none;"><span id="source"></span></p> 
        <p>Origin - <input type="text" id="newOrigin" style="display: none;"><span id="origin"></span></p> 
        <p>Unlisted - <input type="checkbox" id="newLis" style="display: none;"><span id="lis"></span></p> 
    <input type="button" class="sBtn" id="sBtn" value="Submit" onclick="postPost('{{url}}')" style="display: none;">
    </form>
    <input type="button" class="sBtn" id="eBtn" value="Edit Post" onclick="editPost()" style="display: none;">
    <button value="Delete" class="dBtn" onclick="delPost('{{url}}')" id="dBtn" style="display: none;">Delete</button>
    <button value="like" class="likeButton" onclick="likes('{{author}}', '{{uid}}', '{{url}}')" id="lBtn">like</button>
</div>
<div class="data" style="margin-top:-20%">
    <h3>Comments</h3><button class="aBtn" onclick="addCom()" id="aBtn">Add Comment</button>  <br>
    <p id="comSec" style="display: none;">Comment - <input type="text" id="comment"></p>
    <input type="button" class="sBtn" id="scBtn" value="Submit" onclick="postCom('{{url}}', '{{uid}}', '{{author}}')" style="display: none;">
    <ul id="comList"></ul>
    </div>
</body>
</html>


{% endblock %}