{% load static %}

{% block body %}
<script src="{% static 'accounts/js/author/profile.js' %}"></script>
<html>
    <head>
        <link rel="stylesheet"  href="{%  static  'accounts/profile.css'  %}">  
    </head>
    <div class="nav" style="background-color: yellowgreen; padding-top: 10px;padding-bottom: 10px;">
        <a href="/home"><span style="padding-left: 15%">Home</span></a>
        <a href="/inbox"></a><span style="padding-left: 15%">Inbox</span>
        <a href="/create"><span style="padding-left: 15%">Create</span></a>
        <span style="padding-left: 15%; color: white;">Profile</span>
    </div>
    <h1 class="title">PROJECT SOCIAL DISTRIBUTION</h1>
    <body onload="getProfile('{{uid}}')">
        <div class="everything">
        <form method="post">
            {% csrf_token %}
            <div class="data">
    <p>Display Name - <input type="text" id="newname" style="display: none;"><span id="dname"></span></p> 
        <p>ID - <span id="did"></span></p> 
        <p>URL - <span id="durl"></span></p> 
        <p>Github - <input type="text" id="newgh" style="display: none;"><span id="dgh"></span></p> 
    <input type="button" class="sBtn" id="sBtn" value="Submit" onclick="postProfile('{{uid}}')" style="display: none;">
    </form>
    <input type="button" class="eBtn" id="eBtn" value="Edit Profile" onclick="editProfile()">
</div>
</div>    
</body>
</html>


{% endblock %}