
body {
    background-color: rgb(68, 190, 238);
    font-family: 'Ubuntu', sans-serif;
    }
.title{
    position: absolute;
    top: 15%;
    left: 30%;
    color: white;
    text-shadow: 3px 3px black;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: double 10px red;
}
button {
    background: white;
    background-image: -webkit-linear-gradient(top, white, yellow);
    background-image: -moz-linear-gradient(top, white, yellow);
    background-image: -ms-linear-gradient(top, white, yellow);
    background-image: -o-linear-gradient(top, white, yellow);
    background-image: linear-gradient(to bottom, white, yellow);
    border-radius: 60px;
    text-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 19px #000000;
    font-family: Arial;
    color: red;
    font-size: 32px;
    padding: 10px 40px 10px 40px;
    border: solid #000000 5px;
    text-decoration: none;
    margin-bottom: 50px;
  }
  
  button:hover {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #3498db);
    background-image: -moz-linear-gradient(top, #ffffff, #3498db);
    background-image: -ms-linear-gradient(top, #ffffff, #3498db);
    background-image: -o-linear-gradient(top, #ffffff, #3498db);
    background-image: linear-gradient(to bottom, #ffffff, #3498db);
    text-decoration: none;
  }
  .buttons{
      position: absolute;
      margin-left: 40%;
      margin-top: 20%;
  }
  .inbox{
      margin-left: 15%;
  }