body {
    background-color: rgb(68, 190, 238);
    font-family: 'Ubuntu', sans-serif;
    }
form {
    background-color: yellow;
    width: 700px;
    height: 450px;
    margin: 15em auto;
    border-radius: 1.5em;
    padding: 30px;
    box-shadow: 0px 11px 55px 5px rgba(0, 0, 0, 0.5);
}
.title{
    position: absolute;
    top: 15%;
    left: 30%;
    color: white;
    text-shadow: 3px 3px black;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: double 10px red;
}
.signup{
    background-color: pink;
    padding: 5px;
    padding-left: 40%;
    border: double blue;
}
.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
    }