{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"  href="{%  static  'accounts/home.css'  %}">   
</head>
<html>
    <div class="nav" style="background-color: yellowgreen; padding-top: 10px;padding-bottom: 10px;">
        <span style="padding-left: 15%; color: white;">Home</span>
        <a href="/inbox"></a><span style="padding-left: 15%">Inbox</span>
        <a href="/create"><span style="padding-left: 15%">Create</span></a>
        <a href="/profile"><span style="padding-left: 15%;">Profile</span></a>
    </div>
    <h1 class="title">PROJECT SOCIAL DISTRIBUTION</h1>
    <body>
        <div class="buttons">
        <button class="inbox">Inbox</button>
        <br>
        <a href="/create"><button class="post">Create Post</button></a>
        <br>
        <a href="/profile"><button class="profile">User Profile</button></a>
        </div>
    </body>
</html>