{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"  href="{%  static  'accounts/home.css'  %}">   
</head>
<html>
    <h1 class="title">PROJECT SOCIAL DISTRIBUTION</h1>
    <body>
        <div class="buttons">
        <button class="inbox">Inbox</button>
        <br>
        <button class="post">Create Post</button>
        <br>
        <button class="profile">User Profile</button>
        </div>
    </body>
</html>